@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#weather.active {
  @apply text-primary-content;
}

.active-overview {
  @apply bg-accent text-primary;
}

.grid-temp-2 {
  grid-template-rows: repeat(2, fit);
}

/* .parent {
  display: grid;
  grid-row: 2;
}

.child-1 {
  grid-row-start: ;
} */